{% extends 'base.html' %}
{% block content %}

<h3>My Profile</h3>

<div class="card grey darken-3">
  <div class="card-content">
    <span class="card-title">Username: {{ user.username }}</span>
    <p>Ledgers created: {{ user.ledgers_created.count }}</p>
    <p>Ledgers joined: {{ user.ledgers_joined.count }}</p>
    <p>Expenses added: {{ user.expense_set.count }}</p>
    <p class="grey-text">Date joined: {{ user.date_joined|date:"Y-m-d" }}</p>
  </div>
</div>

<ul class="collection with-header">
  <li class="collection-header"><h4>Friend Requests Recieved</h4></li>
  {% for request in user.invites_rec.all %}
    <li class="collection-item">{{ request.user.username }}</li>
  {% empty %}
    <li class="collection-item">No requests at this time.</li>
  {% endfor %}
</ul>

<ul class="collection with-header">
  <li class="collection-header"><h4>Friend Requests Sent</h4></li>
  {% for invite in user.profile.invites_sent.all %}
    <li class="collection-item">{{ invite.username }}</li>
  {% empty %}
    <li class="collection-item">No pending invites.</li>
  {% endfor %}
</ul>

<ul class="collection with-header">
  <li class="collection-header"><h4>Friends</h4></li>
  {% for friend in user.friends.all %}
    <li class="collection-item">{{ friend.user.username }}</li>
  {% empty %}
    <li class="collection-item">No friends added yet.</li>
  {% endfor %}
</ul>

{% endblock %}
