{% extends 'base.html' %}
{% block content %}

<h3>My Profile</h3>

<div class="card grey darken-3">
  <div class="card-content">
    <span class="card-title">Username: {{ user.username }}</span>
    <p>Ledgers created: {{ user.ledgers_created.count }}</p>
    <p>Ledgers joined: {{ user.ledgers_joined.count }}</p>
    <p>Expenses added: {{ user.expense_set.count }}</p>
    <p class="grey-text">Date joined: {{ user.date_joined|date:"Y-m-d" }}</p>
  </div>
</div>

<div class="row">
  <button
    data-target="send-request-modal"
    class="btn red darken-4 waves-effect waves-light modal-trigger col s12"
  >
    Add a friend
  </button>
</div>

<div id="send-request-modal" class="modal bottom-sheet">
  <form action="{% url 'send_friend_request' %}" method="POST" class="modal-content row">
    <h5>Enter a username:</h5>
    {% csrf_token %}
    <p>
      <label for="username" class="">Username:</label>
      <input type="text" name="username" required>
    </p>
    <button type="submit" class="btn red darken-4 waves-effect waves-light col s12">Send request</button>
  </form>
</div>

{% if toast_message %}
  {% if username %}
    <!-- Toast message with a username at the end: -->
    <script>
      var toastHTML = '<span>{{ toast_message }}&puncsp;<span class="red-text">{{ username }}</span>.</span>';
    </script>
  {% else %}
    <!-- Toast message only, no username: -->
    <script>
      var toastHTML = '<span>{{ toast_message }}</span>';
    </script>
  {% endif %}
  <script>
    M.toast({html: toastHTML});
  </script>
{% endif %}

<ul class="collection with-header">
  <li class="collection-header"><h4>Friend Requests Recieved</h4></li>
  {% for request in user.invites_rec.all %}
    <li class="collection-item">
      <div>
        <span>{{ request.user.username }}</span>
        <form action="{% url 'accept_friend_request' request.user.id %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn-small red darken-4 waves-effect waves-light">Accept</button>
        </form>
      </div>
    </li>
  {% empty %}
    <li class="collection-item">
      <div><em>No requests at this time.</em></div>
    </li>
  {% endfor %}
</ul>

<ul class="collection with-header">
  <li class="collection-header"><h4>Friend Requests Sent</h4></li>
  {% for invite in user.profile.invites_sent.all %}
    <li class="collection-item">
      <div>
        <span>{{ invite.username }}</span>
        <form action="{% url 'cancel_friend_request' invite.id %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn-small red darken-4 waves-effect waves-light">Cancel</button>
        </form>
      </div>
    </li>
  {% empty %}
    <li class="collection-item">
      <div><em>No pending invites.</em></div>
    </li>
  {% endfor %}
</ul>

<ul class="collection with-header">
  <li class="collection-header"><h4>Friends</h4></li>
  {% for friend in user.profile.friends.all %}
    <li class="collection-item">
      <div>
        <span>{{ friend.username }}</span>
        <button
          data-target="modal{{ forloop.counter }}"
          class="btn-small red darken-4 waves-effect waves-light modal-trigger"
        >
          Remove
        </button>
      </div>
    </li>
    
    <div id="modal{{ forloop.counter }}" class="modal">
      <form action="{% url 'remove_friend' friend.id %}" method="POST">
        {% csrf_token %}
        <div class="modal-content">
          <h5>Remove Friend:<i class="small material-icons modal-close right">close</i></h5>
          <p>
            Are you sure you want to remove 
            <span class="red-text">{{ friend.username }}</span> 
            from your friends list?
          </p>
        </div>
        <div class="modal-footer row">
          <button
            type="submit"
            class="btn red darken-4 waves-effect waves-light col s12">
            Yes - Remove
          </button>
        </div>
      </form>
    </div>
  {% empty %}
    <li class="collection-item">
      <div><em>No friends added yet.</em></div>
    </li>
  {% endfor %}
</ul>

<script>
  const modalEls = document.querySelectorAll('.modal');
  M.Modal.init(modalEls);
</script>

{% endblock %}
