{% extends 'base.html' %}
{% block content %}

<h3>My Profile</h3>

<div class="card grey darken-3">
  <div class="card-content">
    <span class="card-title">Username: {{ user.username }}</span>
    <p>Ledgers created: {{ user.ledgers_created.count }}</p>
    <p>Ledgers joined: {{ user.ledgers_joined.count }}</p>
    <p>Expenses added: {{ user.expense_set.count }}</p>
    <p class="grey-text">Date joined: {{ user.date_joined|date:"Y-m-d" }}</p>
  </div>
</div>

<div class="row">
  <button
    data-target="form-modal"
    class="btn red darken-4 waves-effect waves-light modal-trigger col s12"
  >
    Add a friend
  </button>
</div>

<div id="form-modal" class="modal bottom-sheet">
  <form action="{% url 'send_friend_request' %}" method="POST" class="modal-content row">
    <h5>Enter a username:</h5>
    {% csrf_token %}
    <p>
      <label for="username" class="">Username:</label>
      <input type="text" name="username" required>
    </p>
    <button type="submit" class="btn red darken-4 waves-effect waves-light col s12">Send request</button>
  </form>
</div>

{% if result %}
  {% if result == 'self_request' %}
    <!-- Case 1: user sends a request to themselves: -->
    <script>
      var toastHTML = '<span>Cannot send a friend request to yourself</span>';
    </script>
  {% elif result == 'already_friends' %}
    <!-- Case 2: receiver is already a friend: -->
    <script>
      var toastHTML = '<span>You are already friends with&puncsp;<span class="red-text">{{ receiver_username }}</span>.</span>';
    </script>
  {% elif result == 'already_sent' %}
    <!-- Case 3: request already sent to receiver: -->
    <script>
      var toastHTML = '<span>You have already sent a friend request to&puncsp;<span class="red-text">{{ receiver_username }}</span>.</span>';
    </script>
  {% elif result == 'already_received' %}
    <!-- Case 4: request already received from receiver: -->
    <script>
      var toastHTML = '<span>You have already received a friend request from&puncsp;<span class="red-text">{{ receiver_username }}</span>.</span>';
    </script>
  {% elif result == 'success' %}
    <!-- Case 5: request is valid and can be sent: -->
    <script>
      var toastHTML = '<span>Friend request sent to&puncsp;<span class="red-text">{{ receiver_username }}</span>.</span>';
    </script>
  {% elif result == 'not_found' %}
    <!-- Case 6: the receiver does not exist: -->
    <script>
      var toastHTML = '<span>Could not find user&puncsp;<span class="red-text">{{ receiver_username }}</span>.</span>';
    </script>
  {% endif %}
  <script>
    M.toast({html: toastHTML});
  </script>
{% endif %}

<ul class="collection with-header">
  <li class="collection-header"><h4>Friend Requests Recieved</h4></li>
  {% for request in user.invites_rec.all %}
    <li class="collection-item">
      <div>
        <span>{{ request.user.username }}</span>
        <form action="{% url 'accept_friend_request' request.user.id %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn-small red darken-4 waves-effect waves-light">Accept</button>
        </form>
      </div>
    </li>
  {% empty %}
    <li class="collection-item">No requests at this time.</li>
  {% endfor %}
</ul>

<ul class="collection with-header">
  <li class="collection-header"><h4>Friend Requests Sent</h4></li>
  {% for invite in user.profile.invites_sent.all %}
    <li class="collection-item">
      <div>
        <span>{{ invite.username }}</span>
        <form action="{% url 'cancel_friend_request' invite.id %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn-small red darken-4 waves-effect waves-light">Cancel</button>
        </form>
      </div>
    </li>
  {% empty %}
    <li class="collection-item">No pending invites.</li>
  {% endfor %}
</ul>

<ul class="collection with-header">
  <li class="collection-header"><h4>Friends</h4></li>
  {% for friend in user.profile.friends.all %}
    <li class="collection-item">
      <div>
        <span>{{ friend.username }}</span>
        <form action="{% url 'remove_friend' friend.id %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn-small red darken-4 waves-effect waves-light">Remove</button>
        </form>
      </div>
    </li>
  {% empty %}
    <li class="collection-item">No friends added yet.</li>
  {% endfor %}
</ul>

<script>
  const modalEl = document.getElementById('form-modal');
  M.Modal.init(modalEl);
</script>

{% endblock %}
