{% extends 'base.html' %}
{% block content %}

<h3>Edit Expense</h3>

<form action="" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  
  <button type="submit" class="btn red darken-4">Save Changes</button>
  <a class="btn" href="{% url 'expenses_detail' expense.id %}">Discard Changes</a>
</form>

<script>
  // Initialise the date element:
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    autoClose: true
  });
</script>
{% endblock %}
