{% extends 'base.html' %}
{% block content %}

{% if object %}
  <h3>Edit Ledger</h3>
{% else %}
  <h3>Add Ledger</h3>
{% endif %}

<form action="" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  
  {% if object %}
    <button type="submit" class="btn red darken-4">Save Changes</button>
    <a class="btn" href="{% url 'ledgers_detail' object.id %}">Discard Changes</a>
    {% else %}
    <button type="submit" class="btn red darken-4">Add Ledger</button>
  {% endif %}
</form>

<script>
  // Initialise the select element:
  const selectEl = document.getElementById('id_currency');
  M.FormSelect.init(selectEl);
</script>
{% endblock %}
