{% extends 'base.html' %}
{% block content %}

{% if object %}
  <h3>Edit Ledger</h3>
{% else %}
  <h3>Add Ledger</h3>
{% endif %}

<form action="" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  
  <div class="section two-equal-buttons">
    {% if object %}
      <button type="submit" class="btn red darken-4 waves-effect waves-light">Save Changes</button>
      <a class="btn waves-effect waves-light" href="{% url 'ledgers_detail' object.id %}">Discard Changes</a>
      {% else %}
      <button type="submit" class="btn red darken-4 waves-effect waves-light">Add Ledger</button>
    {% endif %}
  </div>
</form>

<script>
  // Initialise the select elements for currency and members:
  const currencyEl = document.getElementById('id_currency');
  M.FormSelect.init(currencyEl);
  const membersEl = document.getElementById('id_members');
  M.FormSelect.init(membersEl);
</script>
{% endblock %}
