{% extends 'base.html' %}
{% block content %}

<h3>About</h3>

<p>
  <em>I Owe Who</em> is a website where you can track and manage IOUs with friends and family. 
  Create an account at the Sign Up page to get started.
</p>
<p>
  Once you have an account, you can send and accept new friend requests, 
  as well as manage your existing friend list, from the My Profile page.
</p>
<p>
  Expenses are grouped into ledgers, which can be for a group of users or just you.
  A ledger can be created from the Add Ledger page. Users on your friend list can be added to the ledger,
  and any user you add to the ledger can then add users they are friends with to the ledger.
</p>
<p>
  To see a list of all the ledgers you've created or been added to, go to the My Ledgers page.
  Click on a ledger to view its details, including the list of expenses and the users involved.
</p>
<p>
  To add an expense to a ledger, use the Add Expense button when viewing the ledger's details.
</p>

{% endblock %}
