{% extends 'base.html' %}
{% block content %}

<h3>Home</h3>

{% if user.is_authenticated %}
  <p>Welcome back, {{ user.username }}!</p>
  <h5>Recently updated ledgers:</h5>
  {% for ledger in ledgers %}
    <div class="card grey darken-3 hoverable">
      <a href="{% url 'ledgers_detail' ledger.id %}">
        <div class="card-content white-text">
          <span class="card-title">{{ ledger.name }}</span>
          <p>Currency: {{ ledger.currency }}</p>
          <p>Created by: {{ ledger.creator }}</p>
          <p>Members:
            {% if ledger.members.count > 0 %}
              {{ ledger.members.all|join:', ' }}
            {% else %}
              No members yet.
            {% endif %}
          </p>
          <p class="grey-text">Last updated: {{ ledger.updated_at|date:"Y-m-d g:i a" }}</p>
        </div>
      </a>
    </div>
  {% empty %}
    <p>
      <em>
        You don't have any ledgers yet. Ledgers you create or get added to will appear here.
      </em>
    </p>
  {% endfor %}

  <h5>Recently added expenses:</h5>
  <ul class="collection">
    {% for expense in expenses.all %}
      <!-- The Modal for each expense -->
      <div id="modal{{ forloop.counter }}" class="modal expense-modal">
        <div class="modal-content">
          <h5>Expense Details:<i class="small material-icons modal-close right">close</i></h5>
          <p>Name: {{ expense.name }}</p>
          <p>Date: {{ expense.date|date:"Y-m-d" }}</p>
          <p>Amount: {{ expense.ledger.get_currency_display|slice:"-1:" }}{{ expense.amount }}</p>
          <p>Ledger: {{ expense.ledger.name }}</p>
          <p>Photo added: {{ expense.photo_set.count|yesno:"Yes,No" }}</p>
          <p class="grey-text">Created at: {{ expense.created_at|date:"Y-m-d g:i a" }}</p>
          <p class="grey-text">Updated at: {{ expense.updated_at|date:"Y-m-d g:i a" }}</p>
        </div>
        <div class="modal-footer double">
          <a
            href="{% url 'ledgers_detail' expense.ledger.id %}"
            class="btn btn2 waves-effect waves-light col s12">
            View Ledger
          </a>
          <a
            href="{% url 'expenses_detail' expense.id %}"
            class="btn waves-effect waves-light col s12">
            View Expense
          </a>
        </div>
      </div>
      <!-- The collection-item for each expense -->
      <li class="collection-item avatar hoverable">
        <a class="modal-trigger" href="#modal{{ forloop.counter }}">
          <span class="expense-amount">{{ expense.ledger.get_currency_display|slice:"-1:" }}{{ expense.amount }}</span>
          <p class="title truncate">{{ expense.name }}</p>
          <p class="truncate">
            Date: {{ expense.date|date:"Y-m-d" }} <br>
            Ledger: {{ expense.ledger.name }}
          </p>
        </a>
      </li>
    {% empty %}
      <li class="collection-item">
        <p class="title">No expenses added yet.</p>
      </li>
    {% endfor %}
  </ul>

  <script>
    const modalEls = document.querySelectorAll('.expense-modal');
    M.Modal.init(modalEls);
  </script>
{% else %}
  <p>
    Welcome to <em>I Owe Who</em>! Please 
    <a href="{% url 'login' %}" class="red-text">Log In</a> or 
    <a href="{% url 'signup' %}" class="red-text">Sign Up</a> to get started.
  </p>
  <p>
    Learn more about <em>I Owe Who</em> at the 
    <a href="{% url 'about' %}" class="red-text">About page</a>.
  </p>
{% endif %}

{% endblock %}
