body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}

#logout-btn {
  height: 64px;
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
  padding: 0 15px;
}

#logout-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* text color in forms */
form > p > input,
form > p > textarea,
form > p > div > input {
  color: white;
}

/* bottom border color on focus in forms */
form > p > input:focus,
form > p > textarea:focus,
form > p > div  > input:focus {
  border-bottom: 1px solid #b71c1c !important;
  box-shadow: 0 1px 0 0 #b71c1c !important;
}

/* text color for dropdown list in forms */
form > p > div > ul > li > span {
  color: white !important;
  background-color: #424242;
}

/* background color on hover for dropdown list in forms */
form > p > div > ul > li > span:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/* background color for dropdown list in forms (leaks through on animation) */
form > p > div > ul {
  background-color: #424242 !important;
}

svg {
  fill: #9E9E9E !important;
}

.modal {
  background-color: rgba(0, 0, 0, 0);
}

.modal.bottom-sheet {
  background-color: #424242;
  max-height: 80%;
}

.datepicker-date-display {
  background-color: #b71c1c;
}

.datepicker-calendar-container {
  background-color: #424242;
}

.select-wrapper input.select-dropdown {
  color: white;
}

button.datepicker-cancel,
button.datepicker-done {
  color: #b71c1c;
  font-weight: bold;
}

.datepicker-table td.is-today {
  color: #b71c1c;
}
.datepicker-table td.is-selected {
  background-color: #b71c1c;
  color: white;
}

ul.dropdown-content.select-dropdown {
  background-color: #424242;
}

ul.dropdown-content.select-dropdown > li > span {
  color: white;
}