body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}

#logout-btn {
  height: 64px;
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
  padding: 0 15px;
}

#logout-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea,
textarea {
  color: white;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]),
textarea:focus:not([readonly]),
.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid #b71c1c;
  -webkit-box-shadow: 0 1px 0 0 #b71c1c;
  box-shadow: 0 1px 0 0 #b71c1c;
}

.select-wrapper .caret {
  fill: #9E9E9E;
}

.modal {
  background-color: #424242;
}

.modal .modal-footer {
  background-color: #424242;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 4px 10px;
}

.modal.bottom-sheet {
  max-height: 80%;
}

div.modal-content > h5 {
  margin-top: -5px;
}

div.modal-content > h5 > i {
  margin-right: -10px;
}

.datepicker-date-display {
  background-color: #b71c1c;
}

.datepicker-calendar-container {
  background-color: #424242;
}

.select-wrapper input.select-dropdown {
  color: white;
}

button.datepicker-cancel,
button.datepicker-done {
  color: #b71c1c;
  font-weight: bold;
}

.datepicker-table td.is-today {
  color: #b71c1c;
}
.datepicker-table td.is-selected {
  background-color: #b71c1c;
  color: white;
}

ul.dropdown-content.select-dropdown {
  background-color: #424242;
}

ul.dropdown-content.select-dropdown > li > span {
  color: white;
}

a.nav-link {
  font-size: 20px;
}

a.nav-link > i {
  font-size: 24px;
  vertical-align: text-top;
}

a.nav-link:hover {
  text-decoration: underline;
}