{% extends 'base.html' %}
{% block content %}

<h1>Ledger Details</h1>

<div class="card grey darken-3">
  <div class="card-content">
    <span class="card-title">{{ ledger.name }}</span>
    <p>Description: {{ ledger.description|linebreaks }}</p>
    <p>Currency: {{ ledger.get_currency_display }}</p>
    <p>Created at: {{ ledger.created_at }}</p>
    <p>Created by: {{ ledger.creator }}</p>
    <p>Members:
      {% if ledger.members.count > 0 %}
        {{ ledger.members.all|join:', ' }}
      {% else %}
        No members yet.
      {% endif %}
    </p>
  </div>
  <div class="card-action">
    <a href="{% url 'ledgers_update' ledger.id %}">Edit</a>
    <a href="{% url 'ledgers_delete' ledger.id %}">Delete</a>
  </div>
</div>

<a class="btn red darken-4 waves-effect waves-light modal-trigger" href="#form-modal">
  Add a new expense
</a>

<div id="form-modal" class="modal bottom-sheet">
  <form action="{% url 'add_expense' ledger.id %}" method="POST" class="modal-content">
    <h5>Enter new expense:</h5>
    {% csrf_token %}
    {{ expense_form.as_p }}
    <button type="submit" class="btn red darken-4 waves-effect waves-light">Add Expense</button>
  </form>
</div>

<div>
  <table class="highlight">
    <thead>
      <tr>
        <th>Date</th>
        <th>Amount</th>
        <th>Name</th>
        <th>User</th>
      </tr>
    </thead>
    <tbody>
      {% if ledger.expense_set.count > 0 %}
        {% for expense in ledger.expense_set.all %}
          <tr>
            <td>{{expense.date}}</td>
            <td>{{ ledger.get_currency_display|slice:"-1:" }}{{expense.amount}}</td>
            <td>{{expense.name}}</td>
            <td>{{expense.user}}</td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="4" class="center-align">No expenses added yet.</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
</div>

<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
  const modalEl = document.getElementById('form-modal');
  M.Modal.init(modalEl);
</script>

{% endblock %}
