{% extends 'base.html' %}
{% block content %}

<h1>Expense Details</h1>

<div class="card grey darken-3">
  <div class="card-content">
    <span class="card-title">{{ expense.name }}</span>
    <p>Date: {{ expense.date|date:"Y-m-d D" }}</p>
    <p>Amount: {{ expense.ledger.get_currency_display|slice:"-1:" }}{{ expense.amount }}</p>
    <p>Paid by: {{ expense.user }}</p>
    <p class="grey-text">Created at: {{ expense.created_at|date:"Y-m-d g:i a" }}</p>
    <p class="grey-text">Updated at: {{ expense.updated_at|date:"Y-m-d g:i a" }}</p>
  </div>
  <div class="card-action">
    <a href="{% url 'expenses_update' expense.id %}">Edit</a>
    <a href="{% url 'expenses_delete' expense.id %}">Delete</a>
  </div>
</div>

{% endblock %}
